<head>

</head>
<body>
  <h1><center>change this</center></h1>
    <center>
    <div class="submit">
    <%= link_to 'Back', root_url %>
    </div>
    <div class="submit">
    <%= link_to 'Add New User', new_user_path %>
    </div>
  </center>


</body>
