<head>

</head>
<body>
  <h1><center>
      <ul class="users">
        <% @users.each do |user| %>
          <li>
            <%= link_to user.name, user %>
          </li>
        <% end %>
      </ul>
  </center></h1>
    <center>
    <div class="submit">
    <%= link_to 'Back', root_url %>
    </div>
    <div class="submit">
    <%= link_to 'Add New User', new_user_path %>
    </div>
  </center>


</body>
