<h1><center>User profile</center></h1>
<div class="box" style="text-align:left">
<center>
  <%= provide(:title, @user.name) %>
  <div class="field">
    <a>ID#:  <%= @user.id %></a><br>
  </div>
  <div class="field">
    <a>Name: <%= @user.name %></a><br>
  </div>
  <div class="field">
    <a>Email: <%= @user.email %></a>
  </div>
</center>
</div>
