<h1><center>User profile</center></h1>
<div class="box" style=text-align:left>
<center>
<%= provide(:title, @user.name) %>

  <a>ID#:  <%= @user.id %></a><br>
  <a>Name: <%= @user.name %></a><br>
  <a>Email: <%= @user.email %></a>
</center>
</div>
