
<h1>Welcome to Poobr!</h1>
<div class="box" style=width:20%; float:left;>
  <p>
    Poobr is a new way to quickly find - or share - a bathroom!
    Create your account to start exploring today!
  </p>
</div>
<div class="box" style="width:60%; float:left; margin:0; padding:0em;">
  <%= image_tag("poobr.png", width:'100%') %>
  <!-- <img src="poobr.png"> -->
</div>
