
<h1>Welcome to Poobr!</h1>
<div class="box" style="width:22%; float:left; margin-right:2%; margin-top:-2%; adding:0em;">
  <p>
    Poobr is a new way to quickly find - or share - a bathroom!
    Create your account to start exploring today!
    <br>
    <br>
    <%= link_to "Create your account now!", new_user_path %>
  </p>
</div>
<div class="box" style="width:65%; float:left; margin-top:-4em; padding:0em;">
  <%= image_tag("poobr.png", width:'100%') %>
  <!-- <img src="poobr.png"> -->
</div>
