/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body{
   font-family: Roboto,Arial,Helvetica,sans-serif;
   color: #04567E;
   line-height:1.5;
   margin:0;
   background-image:url('background.png');
}

/* welcome page when not logged in:*/
body.guestpage{
  font-family: Roboto,Arial,Helvetica,sans-serif;
  color: #04567E;
  line-height:1.5;
  margin:0;
  /*background: #BAD8D8;
  background: -webkit-linear-gradient(-90deg, #BBAA82, #bad8d8);
  background: -o-linear-gradient(-90deg, #BBAA82, #bad8d8);
  background: -moz-linear-gradient(-90deg, #BBAA82, #bad8d8);
  background: linear-gradient(-90deg, #BBAA82, #bad8d8);*/
  background-image:url('poobr-notloggedin2.jpeg');
  /* image courtesy of: http://www.home-designing.com/2014/11/ultra-luxury-bathroom-inspiration
  www.valkyrie-s.com */
  background-size: 110%;
  background-repeat:no-repeat;
}

a:link{
  text-decoration: none;
}

a:visited{

}

a:hover{
  color: grey;
  background-color: none;
}

a:active{

}

/*Paragraph format:
*/

p{
  margin:1em;
  font-size:1em;
}

.error_explanation{
  width:60%;
  padding-top: 5em;
  float:center;
  border-style:solid;
  background-color:pink;
}

.box{
  float:middle;
  text-align: center;
  padding:1em;
  margin:2em;
}

/*
CSS for the navigation bar. This keeps it on top of everything:
*/

.navbar{
  list-style-type: none;
  font-size:1.5em;
  margin:0;
  padding: 0;
  position:auto;
  top:0;
  width:100%;
  background-color: #F0F0F0;
  box-shadow: 0 0.4em 0.3em -0.3em #909090;
}

.navbar li{
  float:right;
}


/* This is CSS for the table elements in the nav bar */

li a{
  display:block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
  color:blue;
}

h1
{
  margin-top:6%;
  margin-left:2%;
}

.field
{
  width: 60%;
  height: 5%;
  font-size: 1.5em;
}

.submit
{
  width: 20%;
}

/*.users {
  list-style: none;
}*/

/*Styling to make tables more readable:
*/

table, td, th, tr, thead, tbody {
/*table.list, td.list, th.list, tr.list, thead.list, tbody.list{*/
  table-layout: fixed;
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 0.5em;
}

th,td{
}

#dropdown-menu {
  align: center;

}

/*styling for the page for a posting: */

.posting{

  padding: 1em;
}

/*the top part of a posting plus icons*/
.head{
  height: auto;
  font-size: 120%;
  line-height: 200%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  display: block;
  color: white;
  text-align: left;
  padding: 1em 1.5em;
  text-decoration: none;
}

.head img{
  height: auto;
}

.title{
  font-weight: bold;
  font-size: 150%;
}

.description{
  color: black;
  margin: 1em;
  text-align: left;
  padding: 1em 1.5em;
  background-color: white;
  display: block;
}

.comments{
  color: black;
  margin: 0;
  text-align: left;
  padding: 1em 1.5em;
  background-color: #F0F0F0;
  display: block;
}

.submitButton{
  background-color: green;
  width: 150px;
}

.comment_field{
  width: 300px;
}

.comment_submit{
  width: 150px;
}

.welcomebox{
  margin-left: auto;
  margin-right: auto;
  width:50%;
  padding:1em;
  border: 1px solid #bad8d8;
  border-radius: 5px;
  background-color: #bad8d8;
  opacity: 0.8;
  box-shadow: 0px 0px 8px #8f8f8f;
}

.welcomebox p{
  font-family: "Century Gothic", Sans, sans-serif;
  font-size: 1.5em;
  text-align: center;
}

.welcomebutton{
    background-color: #04567E; /*#7EA8AA; */
    border: none;
    border-radius: 10px;
    color: white;
    padding: 1em 3em;
    margin:1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    opacity:0.8;
}

.welcomebutton a{
  font-family: "Century Gothic", sans-serif;
  color: #EFEFEF;
}

.welcomebutton:hover {
    background-color: #04060E; /* #7EA8AA; */
    color: white;
}

.buttonholder{
  text-align: center;
}
/* divs for centering the welcome box */
.outer {
  display: table;
  position: absolute;
  height: 80%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}
